:root {
  --main-background-color: #fffdee;
  --secondary-background-color: #f0ecd6;
  --white-solid-color: #fff;
  --white-address-color: #e5e5e5;
  --black-solid-color: #000;
  --black-overlay-color: rgba(0, 0, 0, 0.7);
  --black-slider-transparent-color: rgba(0, 0, 0, 0.65);
  --black--button-transparent-color: rgba(0, 0, 0, 0.4);
  --black--footer-color: #0e0c07;
  --yellow-solid-color: #f3c653;
  --yellow-transparent-color: rgba(243, 198, 83, 0.7);
  --brown--color: #c79002;
  --grey-title--color: #494848;
  --grey-subtitle-color: #b4b4b4;
  --grey-description-color: #7a7a7a;
  --grey-restaurant-description-color: #bababa;
  --grey-address-color: #828282;
  --grey-icon-close-color: #d9d9d9;
  --grey-modal-color: #808080;
}
