*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-text-color: #7a7a7a;
  --main-background-color: #fffdee;
  --secondary-background-color: #f0ecd6;
  --header-gradient: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  --hero-background-color: rgba(0, 0, 0, 0.65);
  --image-background-color: #dadada;
  --white-color: #fff;
  --white-address-color: #e5e5e5;
  --black-color: #000;
  --black-transparent-color: rgba(0, 0, 0, 0.4);
  --black-footer-color: #0e0c07;
  --yellow-color: #f3c653;
  --yellow-transparent-color: rgba(243, 198, 83, 0.7);
  --brown-color: #c79002;
  --grey-title-color: #494848;
  --grey-subtitle-color: #b4b4b4;
  --grey-secondary-description-color: #bababa;
  --grey-address-color: #828282;
  --placeholder-color: #808080;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles  */

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 414px) {
  .main-container {
    width: 414px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    width: 1024px;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 1280px;
  }
}

@font-face {
  font-family: "Film P3";
  src: url();
  src: url("./fonts/FilmP3Bold.woff2") format("woff2"),
    url("./fonts/FilmP3Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* СЕКЦІЯ */

.contacts--section {
  background-color: var(--main-background-color);
  padding-top: 56px;
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
  .contacts--section {
    padding: 69px 0 40px 0;
  }
}

@media (min-width: 1280px) {
  .contacts--section {
    padding: 64px 0 74px 0;
  }
}

@media (min-width: 1024px) {
  .contacts--container {
    display: flex;
    flex-direction: column;
    min-width: 294px;
  }
}

@media (min-width: 1280px) {
  .contacts--container {
    display: flex;
    flex-direction: column;
    min-width: 294px;
  }
}

@media (min-width: 1024px) {
  .container--tablet {
    display: flex;
    gap: 110px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .container--tablet {
    display: flex;
    gap: 110px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.contacts--title {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--grey-title-color);
}

@media (min-width: 1024px) {
  .contacts--title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .contacts--title {
    margin-bottom: 8px;
  }
}

.contacts--subtitle {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--grey-subtitle-color);
}

@media (min-width: 1024px) {
  .contacts--subtitle {
    margin-bottom: 52px;
    line-height: 1.22;
    text-transform: none;
  }
}

@media (min-width: 1280px) {
  .contacts--subtitle {
    margin-bottom: 40px;
    line-height: 1.22;
  }
}

.contacts--label {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--brown-color);
}

.contacts--label__rest {
  margin-right: 22px;
}

@media (min-width: 1024px) {
  .contacts--label__rest {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.contacts--label__hotel {
  margin-right: 50px;
}

@media (min-width: 1024px) {
  .contacts--label__hotel {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.contacts--tel {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 260px;
  padding: 11px 8px 9px 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-title-color);
}

.contacts--tel__rest {
  display: flex;
  align-items: center;
  max-width: 144px;
  padding: 11px 8px 9px 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-title-color);
  border: 0.5px solid var(--yellow-color);
}

.contacts--tel,
.contacts--location {
  border: 0.5px solid var(--yellow-color);
}

.contacts--tel:first-child {
  max-width: 144px;
}

.contacts--tel:last-child {
  max-width: 260px;
}

@media (min-width: 1024px) {
  .contacts--tel:last-child {
    max-width: 264px;
  }
}

.contacts--tel__second {
  margin-left: 12px;
}

.contacts--location {
  display: flex;
  gap: 16px;
  align-items: center;
  /* margin: 0 15px 32px 124px; */
  padding: 8px 33px 7px 16px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--grey-title-color);
}

@media (min-width: 1024px) {
  .contacts--location {
    display: flex;
    align-items: center;
    max-width: 285px;
    margin-bottom: 0;
    padding: 9px 8px 7px 16px;
  }
}

.address {
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .address {
    margin-bottom: 0;
  }
}

.contacts--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .contacts--item {
    display: block;
  }
}

@media (max-width: 1023px) {
  .contacts--item:last-child {
    margin-left: 118px;
    margin-bottom: 0;
    max-width: 260px;
  }
}

@media (min-width: 1024px) {
  .contacts--item:first-child {
    max-width: 144px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .contacts--item:nth-child(2) {
    max-width: 264px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1280px) {
  .contacts--item:last-child {
    max-width: 285px;
  }
}

@media (max-width: 1023px) {
  .location--label {
    max-width: 183px;
  }
}

@media (max-width: 1024px) {
  .location--label {
    max-width: 273px;
  }
}

@media (max-width: 1023px) {
  .map--container {
    max-width: 384px;
    width: 100%;
    height: 220px;
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .map--container {
    max-width: 585px;
    width: 100%;
    height: 412px;
    border-radius: 2px;
  }
}

@media (min-width: 1280px) {
  .map--container {
    max-width: 634px;
    width: 100%;
    height: 412px;
  }
}

/* ФУТЕР */
footer {
  background-color: var(--black-footer-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 1040px) {
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer--container {
  display: flex;
  padding-left: 59px;
  padding-right: 31px;
}

@media (max-width: 413px) {
  .footer--container {
    display: flex;
    padding-left: 34px;
    padding-right: 16px;
  }
}

@media (min-width: 1024px) {
  .footer--container {
    display: flex;
    gap: 167px;
    padding-left: 154px;
    padding-right: 122px;
  }
}

@media (min-width: 1280px) {
  .footer--container {
    display: flex;
    gap: 231px;
    padding-left: 216px;
    padding-right: 186px;
  }
}

.footer--container__positioned {
  display: flex;
  margin-left: auto;
}

@media (min-width: 1024px) {
  .footer--container__positioned {
    display: flex;
    gap: 137px;
  }
}

@media (min-width: 1280px) {
  .footer--container__positioned {
    display: flex;
    gap: 211px;
  }
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Film P3";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .logo {
    display: flex;
    align-items: center;
    margin-right: 0;
    font-size: 64px;
  }
}

@media (max-width: 1023px) {
  .footer-nav {
    margin-bottom: 32px;
  }
}

.footer-nav--list {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .footer-nav--list {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.footer-nav--item {
  margin-bottom: 12px;
}

.footer-nav--item:last-child {
  margin-bottom: 0;
}

.network--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--yellow-color);
}

@media (min-width: 1024px) {
  .network--list {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
  }
}

.network--item {
  margin-right: 23px;
}

.network--item:last-child {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .network--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    margin-bottom: 12px;
    margin-right: 0;
    border: 0.5px solid var(--yellow-color);
    border-radius: 2px;
  }
}

.network--item:last-child {
  margin-bottom: 0;
}

.network--item:first-child {
  justify-content: flex-end;
}

.network--item:nth-child(2) {
  justify-content: flex-end;
}

.network--item:last-child {
  justify-content: space-between;
}

.network--link {
  display: flex;
  gap: 15px;
  justify-items: center;
}

@media (max-width: 1023px) {
  .network--name {
    display: none;
  }
}

@media (max-width: 1023px) {
  .network--item {
    border: none;
  }
}
