:root {
  --main-text-color: #7a7a7a;
  --main-background-color: #fffdee;
  --secondary-background-color: #f0ecd6;
  --header-gradient: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  --hero-background-color: rgba(0, 0, 0, 0.65);
  --image-background-color: #dadada;
  --white-color: #fff;
  --white-address-color: #e5e5e5;
  --black-color: #000;
  --black-transparent-color: rgba(0, 0, 0, 0.4);
  --black-footer-color: #0e0c07;
  --yellow-color: #f3c653;
  --yellow-transparent-color: rgba(243, 198, 83, 0.7);
  --brown-color: #c79002;
  --grey-title-color: #494848;
  --grey-subtitle-color: #b4b4b4;
  --grey-secondary-description-color: #bababa;
  --grey-address-color: #828282;
  --placeholder-color: #808080;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles  */

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 414px) {
  .main-container {
    width: 384px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 1140px;
  }
}

@font-face {
  font-family: "Film P3";
  src: url();
  src: url("./fonts/FilmP3Bold.woff2") format("woff2"),
    url("./fonts/FilmP3Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

footer {
  background-color: var(--black-footer-color);
  max-height: 304px;
  padding: 80px 0px 80px 216px;
}

.footer--container {
  display: flex;
  gap: 231px;
}

.footer--container__positioned {
  display: flex;
  gap: 211px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Film P3";
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow-color);
}

.footer-nav--list {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;

  color: var(--yellow-color);
}

.network--list {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--yellow-color);
}

.network--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid var(--yellow-color);
  border-radius: 2px;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.network--item:last-child {
  margin-bottom: 0;
}

.network--link {
  display: flex;
  gap: 15px;
  justify-items: center;
}

.network--item:first-child {
  justify-content: flex-end;
}

.network--item:nth-child(2) {
  justify-content: flex-end;
}

.network--item:last-child {
  justify-content: space-between;
}
